@charset "utf-8";
*{padding:0px; margin:0px;}
ul,li{list-style:none;}
img{border:none;}
a{color:#ff6600;text-decoration:none;}
a:hover{color:#da082f;  text-decoration:none;}
html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0; font-family:"SimSun"; text-align:left;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
i { font-family:Arial, Helvetica, sans-serif; font-style:normal; }
body { background:#fff;}

.ant_all { width: 1190px; margin: 0 auto; }

.top_a { width: 100%; background: #f4f4f4; height: 33px; border-bottom: 1px solid #dddddd; font-size: 12px; font-family:"SimSun" }
.top_a dl.top_ant dt { width: 100px; float: left; height: 33px; line-height: 33px;}
.top_a dl.top_ant dd { width: 246px; float: right; height: 33px; line-height: 33px;}
.top_a dl.top_ant a { color: #666; height: 33px; line-height: 33px; display: block; width: 80px; float: left;}
.top_a dl.top_ant a:hover { color:#da082f;  text-decoration:none; height: 33px; line-height: 33px; display: block;}
.top_a dl.top_ant dd img { float: right; margin: 5px 0 0 0}
.top_a dl.top_ant dt a { color: #666; height: 33px; line-height: 33px; display: block; width: 30px; padding-left: 20px; float: left; background: url(../images/bg/home_bg.gif) no-repeat left top;transition:background 0.1s; -moz-transition:background 0.1s; /* Firefox 4 */-webkit-transition:background 0.1s; /* Safari and Chrome */-o-transition:background 0.1s; /* Opera */}
.top_a dl.top_ant dt a:hover { color:#da082f;  text-decoration:none; height: 33px; line-height: 33px; display: block; width: 30px; padding-left: 20px; float: left; background: url(../images/bg/home_bg.gif) no-repeat left -33px;}


.toper { width: 100%; background: #f4f4f4; height: 33px; border-bottom: 1px solid #dddddd; font-size: 12px; font-family:"SimSun" }
.toper dl.toperleft { width: 490px; float: left; height: 33px; line-height: 33px; color:#ccc;}
.toper dl.toperleft span { color:#666; margin:0 8px 0 0; float:left; display:inline}
.toper dl.toperleft a { color:#666; display:block; float:left;}
.toper dl.toperleft a.qdl { color:#da082f; display:block; padding-left:25px; padding-right:15px; float:left;background: url(../images/bg/qdl_bg.gif) no-repeat left -1px;transition:background 0.1s; -moz-transition:background 0.1s; /* Firefox 4 */-webkit-transition:background 0.1s; /* Safari and Chrome */-o-transition:background 0.1s; /* Opera */}
.toper dl.toperleft a.qdl:hover { color:#666; display:block; padding-left:25px; padding-right:15px; float:left;background: url(../images/bg/qdl_bg.gif) no-repeat left -34px;}
.toper dl.toperleft a.mfzc { color:#666; display:block; height:18px; line-height:18px; margin-top:7px; padding-left:14px; border-left:1px solid #ccc; padding-right:15px; float:left;}




.toper dl.toperright { width: 600px; float: right; height: 33px; line-height: 33px; }
.toper dl.toperright dd.lianxlie { float:left; text-align:right;}
.toper dl.toperright dd.lianxlie a { color:#666; display:block; padding-left:13px; padding-right:23px; float:left;background: url(../images/bg/qdl_jian_bg.gif) no-repeat left -1px;transition:background 0.1s; -moz-transition:background 0.1s; /* Firefox 4 */-webkit-transition:background 0.1s; /* Safari and Chrome */-o-transition:background 0.1s; /* Opera */}
.toper dl.toperright dd.lianxlie a:hover { color:#da082f; display:block; padding-left:13px; padding-right:23px; float:left;background: url(../images/bg/qdl_jian_bg.gif) no-repeat left -34px;}

.toper dl.toperright dd.lianxlie a.lianbom { color:#da082f; display:block; padding-left:13px; padding-right:23px; float:left;background: url(../images/bg/qdl_jian_bg.gif) no-repeat left -1px;transition:background 0.1s; -moz-transition:background 0.1s; /* Firefox 4 */-webkit-transition:background 0.1s; /* Safari and Chrome */-o-transition:background 0.1s; /* Opera */}
.toper dl.toperright dd.lianxlie a.lianbom:hover { color:#da082f; display:block; padding-left:13px; padding-right:23px; float:left;background: url(../images/bg/qdl_jian_bg.gif) no-repeat left -34px;}


.toper dl.toperright dd.lianxdh { width: 261px; float: right; height: 33px; line-height: 33px; }
.toper dl.toperright dd.lianxdh a { color:#666; display:block; height:18px; line-height:18px; margin-top:7px; padding-left:14px; border-left:1px solid #ccc; padding-right:15px; float:left;}
.toper dl.toperright dd.lianxdh a:hover { color:#666; display:block; height:18px; line-height:18px; margin-top:7px; padding-left:14px; border-left:1px solid #ccc; padding-right:15px; float:left;}
.toper dl.toperright dd img { float: right; margin: 5px 0 0 0}


.logo_a { width: 100%; height: 105px; border-bottom: 3px solid #da082f;}
.logo_a div.logo_ant { width:1190px; height:105px;}
.logo_a div.logo_left { float:left; width:197px; float:left; height:29px; margin-top:38px;}
.logo_a div.zhuce_mid { float:left; width:900px; float:left; height:29px; margin-top:38px;}
.logo_a div.zhuce_mid span { float:left; display:block; width:130px; font-family:"Microsoft YaHei"; height:29px; line-height:29px; padding-left:25px; margin-left:28px; border-left:1px solid #ccc; font-size:26px; float:left;}
.logo_a div.zhuce_mid p { font-size:12px; float:left; display:block; width:650px; color:#666; float:left; height:22px; line-height:22px; margin-top:12px;}
.logo_a div.zhuce_mid p i { color:#ff6600;}
.logo_a div.zhuce_mid p a { color:#ff6600;}
.logo_a div.zhuce_mid p a:hover { color:#333;}

.logo_b { width: 100%; height: 100px; }
.logo_b div.logo_ant { width:1190px; height:105px;}
.logo_b div.logo_left { float:left; width:197px; float:left; height:29px; margin-top:38px;}

.nav { width: 100%; height: 45px; border-bottom: 1px solid #da082f;}
.nav div.nav_ant { width:1190px; height:45px; margin:0 auto; }

.tuijian { width: 100%; height: 137px; background:#fcfcfc; border-bottom:3px solid #e8e8e8; }
.tuijian div.tuijian_ant { width:1190px; height:137px; margin:0 auto; }



.contant_a { width: 1190px; margin: 0 auto; padding: 40px 0;}

.chooes {width:1190px;float:left;padding-bottom:25px;}
.xiangmu_tiao {width:1190px;float:left;border-bottom:1px solid #eaeaea; }
.xiangmu_tiao ul {float:left;height:50px; width:1150px; font-size:14px; padding-left:40px;}
.xiangmu_tiao li {float:left;width:110px;height:50px;display:inline;text-align:center; }
.xiangmu_tiao li.noline {float:left;width:110px;height:50px;display:inline;text-align:center;border-right:0px;border-bottom:0px;}
.xiangmu_tiao li a {font-size:14px; line-height:50px;color:#666;text-align:center;width:110px;display:block;}
.xiangmu_tiao li.hover a {color:#da082f;font-size:14px; border-bottom:1px solid #da082f; width:110px;heigh:50px;display:block;}

.xiangmu_tiao li.fan_ct { float:right; width:350px; height:50px; line-height:50px; display:inline;text-align:center; margin-right:40px; text-align:right; color:#666;  }
.xiangmu_tiao li.fan_ct a { margin-left:10px; font-size:14px; line-height:50px;color:#fff;text-align:center;width:150px;display:inline-block; background:#b7b7b7; width:75px; height:33px; line-height:33px; border-radius:3px;}
.xiangmu_tiao li.fan_ct a:hover { margin-left:10px; font-size:14px; line-height:50px;color:#fff;text-align:center;width:150px;display:inline-block; background:#db082f; width:75px; height:33px; line-height:33px;}
.xiangmu_tiao li.fan_ctl { float:left; width:110px; height:50px; line-height:50px; display:inline; text-align:center; color:#666;  }

.pir_right{width:1190px; float:left;display:inline; padding-top:15px; }
.pir_right p{padding:10px 25px 0 30px;line-height:22px;text-indent:25px;}

.pir_right ul.shoujizhuce { width:1190px; margin:0 auto; font-size:14px; padding-top:30px; }
.pir_right ul.shoujizhuce li { float:left; width:100%; margin-top:30px;}
.pir_right ul.shoujizhuce span { width:365px; color:#636363; text-align:right; float:left; display:inline-block; height:35px; line-height:35px; font-size:14px; margin-right:15px;}
.pir_right ul.shoujizhuce input { width:280px; color:#ccc; text-align:left; float:left; display:block; height:35px; line-height:35px; padding-left:36px; font-size:14px; border:1px solid #eaeaea; border-radius:3px;}
.pir_right ul.shoujizhuce li.yonghuming input { background:url(../images/bg/youxiangz.gif) no-repeat 5px center;}
.pir_right ul.shoujizhuce li.shouji input { background:url(../images/bg/zhu_1.gif) no-repeat 8px center;}
.pir_right ul.shoujizhuce li.mi1 input { background:url(../images/bg/zhu_2.gif) no-repeat 8px center;}
.pir_right ul.shoujizhuce li.mi2 input { background:url(../images/bg/zhu_3.gif) no-repeat 8px center;}
.pir_right ul.shoujizhuce li.jiaoyan input { width:136px; color:#666; text-align:left; float:left; display:block; height:35px; line-height:35px; padding-left:10px; font-size:16px; font-family:Arial, Helvetica, sans-serif; border:1px solid #eaeaea; border-radius:3px;}
.pir_right ul.shoujizhuce li.jiaoyan a { width:100px; color:#fff; text-align:left; float:left; display:block; height:37px; margin-left:20px; line-height:37px; padding-left:50px; font-size:14px; font-family:Arial, Helvetica, sans-serif; border-radius:3px;  background:#da082f url(../images/bg/fasong.png) no-repeat 20px top; transition:background 0.1s; -moz-transition:background 0.1s; /* Firefox 4 */-webkit-transition:background 0.1s; /* Safari and Chrome */-o-transition:background 0.1s; /* Opera */}
.pir_right ul.shoujizhuce li.jiaoyan a:hover { width:100px; color:#fff; text-align:left; float:left; display:block; height:37px; margin-left:20px; line-height:37px; padding-left:50px; font-size:14px; font-family:Arial, Helvetica, sans-serif; border-radius:3px;  background:#f60 url(../images/bg/fasong.png) no-repeat 20px -37px;}
.pir_right ul.shoujizhuce li.jieshouba { font-size:12px; color:#666;}
.pir_right ul.shoujizhuce li.jieshouba p { padding:0; margin:0; font-size:12px; padding-left:380px; height:15px; line-height:15px; color:#999; text-indent:8px;}
.pir_right ul.shoujizhuce li.jieshouba p a:hover { color:#666;}
.pir_right ul.shoujizhuce li.jieshouba input { width:14px; height:14px; padding:0; margin:0; float:left; text-indent:0;}
.pir_right ul.shoujizhuce li.zhucean { margin-top:40px; height:45px;}
.pir_right ul.shoujizhuce li.zhucean input.button_button{ margin:0;width:316px;height:35px; padding:0; text-indent:0; font-size:15px; color:#FFFFFF; text-align:center;font-weight:bold;line-height:35px; cursor:pointer; background:#da082f; border:0;}
.pir_right ul.shoujizhuce li.zhucean p { padding:0; margin:0; font-size:12px; padding-left:380px; height:15px; line-height:15px; color:#666; text-indent:8px;}
.pir_right ul.shoujizhuce li.zhucean a { margin:0;width:316px;height:37px; padding:0; text-indent:0; font-size:15px; color:#FFFFFF; text-align:center;font-weight:bold; display:block; line-height:37px; cursor:pointer; background:#da082f; border:0; border-radius:3px;}
.pir_right ul.shoujizhuce li.zhucean a:hover { margin:0;width:316px;height:37px; padding:0; text-indent:0; font-size:15px; color:#FFFFFF; text-align:center;font-weight:bold; display:block; line-height:37px; cursor:pointer; background:#f60; border:0; border-radius:3px;}

.pir_right dl.yanzyx { width:100%; background:url(../images/bg/youjian.gif) no-repeat center top; margin-top:32px; float:left; text-align:center; padding-top:100px;}
.pir_right dl.yanzyx dt { text-align:center; font-family:"Microsoft YaHei"; font-size:22px; color:#666; height:50px; }
.pir_right dl.yanzyx dd { text-align:center; font-size:14px; color:#666; font-size:12px;}
.pir_right dl.yanzyx dd a { margin:0 auto; height:37px; padding:0; text-indent:0; font-size:12px; color:#ff6600; text-align:center; line-height:37px; cursor:pointer; }
.pir_right dl.yanzyx dd a:hover { margin:0 auto; height:37px; padding:0; text-indent:0; font-size:12px; color:#666; text-align:center;line-height:37px; cursor:pointer; }

.pir_right dl.yanzyx dd p { text-align:center; padding:35px 0;}
.pir_right dl.yanzyx dd p a { margin:0 auto;width:316px;height:37px; padding:0; text-indent:0; font-size:15px; color:#FFFFFF; text-align:center;font-weight:bold; display:block; line-height:37px; cursor:pointer; background:#da082f; border:0; border-radius:3px;}
.pir_right dl.yanzyx dd p a:hover { margin:0 auto;width:316px;height:37px; padding:0; text-indent:0; font-size:15px; color:#FFFFFF; text-align:center;font-weight:bold; display:block; line-height:37px; cursor:pointer; background:#f60; border:0; border-radius:3px;}

.pir_right div.lielv { width:1130px; margin:0 30px; float:left; display:inline; }
.pir_right div.lielv_left { width:545px; float:left; margin:0px 10px 0 10px; float:left; display:inline;}
.pir_right div.lielv_right { width:545px; float:left; margin:0px 10px 0 10px; float:left; display:inline;}
.pir_right div.lielv_left dl.lie_xiangl { width:543px; border:1px solid #eaeaea; border-radius:3px; margin-top:20px; float:left;}
.pir_right div.lielv_left dl.lie_xiangl dt { width:521px; float:left; margin:1px; display:inline; height:30px; padding-bottom:3px; font-size:14px; font-weight:bold; line-height:30px; background:#fcfcfc; padding-left:20px; display:block;}
.pir_right div.lielv_left dl.lie_xiangl dt a { color:#666;}
.pir_right div.lielv_left dl.lie_xiangl dt a span { color:#ff8a00; font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal; padding-left:8px;}
.pir_right div.lielv_left dl.lie_xiangl dt a:hover { color:#da082f;}
.pir_right div.lielv_left dl.lie_xiangl dd { width:543px; float:left; display:block; padding:0; margin:0; text-indent:0px;}
.pir_right div.lielv_left dl.lie_xiangl dd p { padding:15px 0; font-size:12px; margin:0; text-indent:0px; padding-left:20px; float:left; line-height:32px; }
.pir_right div.lielv_left dl.lie_xiangl dd p a { padding:0; margin:0; color:#666; margin-right:30px; display:inline-block; float:left;}
.pir_right div.lielv_left dl.lie_xiangl dd p span { color:#ff8a00; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; padding-left:8px;}
.pir_right div.lielv_left dl.lie_xiangl dd p a:hover { color:#da082f;}

.pir_right div.lielp { width:1130px; margin:0 30px; float:left; display:inline; }
.pir_right div.lielp dl.lielp_dl { width:160px; padding:3px; margin:0px 10px 0 10px;  float:left; display:inline; margin-top:20px ; border:1px solid #eaeaea; border-radius:3px; }
.pir_right div.lielp dl.lielp_dl:hover { width:160px; padding:3px; margin:0px 10px 0 10px;  float:left; display:inline; margin-top:20px ; border:1px solid #da082f; transition:border 0.6s; -moz-transition:border 0.6s; /* Firefox 4 */-webkit-transition:border 0.6s; /* Safari and Chrome */-o-transition:border 0.6s; /* Opera */ border-radius:3px; }
.pir_right div.lielp dl.lielp_dl dt { width:160px; height:47px; float:left; display:inline; }
.pir_right div.lielp dl.lielp_dl dd { width:160px; height:24px; float:left; line-height:24px; text-align:center; font-size:12px; background:#fbfbfb; display:inline; }
.pir_right div.lielp dl.lielp_dl dd a { color:#666; width:160px; height:24px; display:block;}
.pir_right div.lielp dl.lielp_dl dd a:hover { color:#da082f; width:160px; height:24px; display:block;}
.pir_right div.lielp h2 { width:1090px; margin:0 10px; float:left; display:inline; background:#fcfcfc;  height:40px; font-size:14px; font-weight:bold; line-height:40px; margin-top:20px; padding-left:20px; color:#da082f; }





.mask{margin:0;padding:0;border:none;width:100%;height:100%;background:#333;opacity:0.2;filter:alpha(opacity=20);z-index:9999;position:fixed;top:0;left:0;display:none;}
#LoginBox{position:absolute;left:25%;top:234px;background:white;width:50%;height:462px;border:4px solid #c3c3c3;border-radius:7px;z-index:10000;display:none;}
.row1{background:#f7f7f7;padding:0px 20px;line-height:50px;height:50px;font-weight:bold;color:#666;font-size:16px;}
.row1 .close_btn{font-family:arial;font-size:30px;font-weight:700;color:#999;text-decoration:none;float:right;padding-right:4px;}
.inputBox{border:1px solid #c3c3c3;padding:1px 3px 6px 3px;border-radius:5px;margin-left:5px;}
.xieyinei { width:95%; padding:0 2.5%; height:300px; overflow:hidden; font-size:12px; color:#666;overflow:-moz-scrollbars-vertical; overflow-y:scroll; margin:25px 0;}
.xieyinei dl { width:100%;}
.xieyinei dl dt { width:100%; height:24px; line-height:24px; font-weight:bold; }
.xieyinei dl dd { width:100%; line-height:26px; }

.row2{ padding:0px 20px;line-height:50px;height:50px;font-weight:bold;color:#666;font-size:20px;}
.row2 a.close_btn1 { margin:0 auto;width:316px;height:37px; padding:0; text-indent:0; font-size:15px; color:#FFFFFF; text-align:center;font-weight:bold; display:block; line-height:37px; cursor:pointer; background:#ccc; border:0; border-radius:3px;}
.row2 a.close_btn1:hover { margin:0 auto;width:316px;height:37px; padding:0; text-indent:0; font-size:15px; color:#FFFFFF; text-align:center;font-weight:bold; display:block; line-height:37px; cursor:pointer; background:#f60; border:0; border-radius:3px;}
.pir_right ul.shoujizhuce li.yanzheng input { width:136px; color:#666; text-align:left; float:left; display:block; height:35px; line-height:35px; padding-left:10px; font-size:16px; font-family:Arial, Helvetica, sans-serif; border:1px solid #eaeaea; border-radius:3px;}
.pir_right ul.shoujizhuce li.yanzheng img { width:105px; color:#ccc; text-align:left; float:left; display:block; height:37px; margin-left:10px; line-height:37px; padding-left:0px; font-size:14px;  }
.pir_right ul.shoujizhuce li.yanzheng a { width:65px; color:#666; padding-left:13px; text-align:left; float:left; display:block; height:37px; line-height:37px;  font-size:14px;  }
.pir_right ul.shoujizhuce li.yanzheng a:hover { width:100px; color:#666; text-decoration:underline; text-align:left; float:left; padding-left:13px;  display:block; height:37px; line-height:37px; font-size:14px;  }
.pir_right ul.shoujizhuce li.wangji { font-size:12px;}
.pir_right ul.shoujizhuce li.wangji span { display:inline-block; height:24px; line-height:24px; text-align:center; font-size:12px;}
.pir_right ul.shoujizhuce li.wangji span.zhaomime a { color:#666;}
.pir_right ul.shoujizhuce li.wangji span.zhaomime a:hover { color:#ff6600; text-decoration:underline;}
.pir_right ul.shoujizhuce li.wangji span.zhaomime{ width:100px; border-right:1px solid #eaeaea; float:left; margin-left:380px; display:inline-block; background:url(../images/bg/tixing.gif) no-repeat left center;}
.pir_right ul.shoujizhuce li.wangji span.lianjingli{ float:left; margin-left:0px; display:inline-block;}
.pir_right ul.shoujizhuce li.wangji span.lianjingli a { width:125px; float:left; margin-left:10px; display:inline-block; background:#eee url(../images/bg/liankehu.png) no-repeat 14px top; padding-left:20px; color:#999; border-radius:3px; transition:background 0.1s; -moz-transition:background 0.1s; /* Firefox 4 */-webkit-transition:background 0.1s; /* Safari and Chrome */-o-transition:background 0.1s; /* Opera */}
.pir_right ul.shoujizhuce li.wangji span.lianjingli a:hover { width:125px; float:left; margin-left:10px; display:inline-block; background:#ff6600 url(../images/bg/liankehu.png) no-repeat 14px -24px; padding-left:20px; color:#fff; border-radius:3px; }

.xiangmu_tiao li.fan_cm { float:right; width:350px; height:50px; line-height:50px; display:inline;text-align:center; margin-right:40px; text-align:right; color:#666; height:24px; line-height:24px; }
.xiangmu_tiao li.fan_cm a { width:125px; float:right; display:inline-block; background:#eee url(../images/bg/liankehu.png) no-repeat 14px top; padding-left:20px; color:#999; border-radius:3px; transition:background 0.1s; -moz-transition:background 0.1s; /* Firefox 4 */-webkit-transition:background 0.1s; /* Safari and Chrome */-o-transition:background 0.1s; /* Opera */ height:24px; line-height:24px; font-size:12px; margin-top:13px;}
.xiangmu_tiao li.fan_cm a:hover { width:125px; float:right; display:inline-block; background:#ff6600 url(../images/bg/liankehu.png) no-repeat 14px -24px; padding-left:20px; color:#fff; border-radius:3px; height:24px; line-height:24px; margin-top:13px;}








.pir_right dl.disanfang { width:316px; float:left; text-align:center; display:inline; font-size:14px; margin-top:10px; margin-left:380px; }
.pir_right dl.disanfang dt { width:316px; float:left; text-align:center; border-bottom:1px solid #eaeaea; height:50px; line-height:50px; color:#666; }
.pir_right dl.disanfang dd { width:86px; float:left; height:86px; margin:0 8px; margin-top:15px; display:inline; text-align:center; font-size:1px;}
.pir_right dl.disanfang dd.taobaod a { color:#fff; width:86px; float:left; padding-top:60px; background: url(../images/bg/taobaod.jpg) no-repeat center 10px; margin:0 8px; display:inline; text-align:center; transition:background 0.1s; -moz-transition:background 0.1s; /* Firefox 4 */-webkit-transition:background 0.1s; /* Safari and Chrome */-o-transition:background 0.1s; /* Opera */}
.pir_right dl.disanfang dd.taobaod a:hover { color:#fff; width:86px; float:left; padding-top:60px; background: url(../images/bg/taobaod.jpg) no-repeat center 4px; margin:0 8px; display:inline; text-align:center; }
.pir_right dl.disanfang dd.weibod a { color:#fff; width:86px; float:left; padding-top:60px; background: url(../images/bg/weibod.jpg) no-repeat center 10px; margin:0 8px; display:inline; text-align:center; transition:background 0.1s; -moz-transition:background 0.1s; /* Firefox 4 */-webkit-transition:background 0.1s; /* Safari and Chrome */-o-transition:background 0.1s; /* Opera */}
.pir_right dl.disanfang dd.weibod a:hover { color:#fff; width:86px; float:left; padding-top:60px; background: url(../images/bg/weibod.jpg) no-repeat center 4px; margin:0 8px; display:inline; text-align:center; }
.pir_right dl.disanfang dd.tengxund a { color:#fff; width:86px; float:left; padding-top:60px; background: url(../images/bg/tengxund.jpg) no-repeat center 10px; margin:0 8px; display:inline; text-align:center; transition:background 0.1s; -moz-transition:background 0.1s; /* Firefox 4 */-webkit-transition:background 0.1s; /* Safari and Chrome */-o-transition:background 0.1s; /* Opera */}
.pir_right dl.disanfang dd.tengxund a:hover { color:#fff; width:86px; float:left; padding-top:60px; background: url(../images/bg/tengxund.jpg) no-repeat center 4px; margin:0 8px; display:inline; text-align:center; }

.baozhang { width: 100%; height: 105px; background: #fdfdfd; border-bottom: 1px solid #f7f7f7; border-top: 1px solid #f7f7f7;}
.baozhang div.ant_all { width: 1190px; margin: 0 auto; }
.baozhang ul.baozhang_ant { width:1020px; height:105px; padding-left:170px; }
.baozhang ul.baozhang_ant li { width:260px; float:left;height: 105px; line-height:105px; font-size:14px; color:#666; padding-left:65px;}
.baozhang ul.baozhang_ant li.ct_bz_1 { background: url(../images/bg/ct_bz_1.png) no-repeat left center;}
.baozhang ul.baozhang_ant li.ct_bz_2 { background: url(../images/bg/ct_bz_2.png) no-repeat left center;}
.baozhang ul.baozhang_ant li.ct_bz_3 { background: url(../images/bg/ct_bz_3.png) no-repeat left center;}

.zhaomima {width:840px; padding-bottom:25px; background: url(../images/bg/zmmbg.gif) repeat-x center 3px; float:left; margin-left:175px; display:inline;}
.zhaomima li {width:210px; float:left; font-size:12px; padding-top:25px; text-align:center; color:#636363; }
.zhaomima li.zmmxz {width:210px; float:left; font-size:12px; padding-top:25px; background: url(../images/bg/zmmztbg.gif) no-repeat center top; font-weight:bold; color:#db072f; }



.footer { width: 100%; padding-top:40px; padding-bottom:35px;}
.footer div.fuwu_list { float:left; width:670px; float:left; border-right:1px solid #eeeeee; height:166px;}
.footer div.fuwu_list dl.fuwe_5 { width:110px; float:left; font-size:12px; margin-right:20px; display:inline;}
.footer div.fuwu_list dl.fuwe_5 dt { width:93px; margin-bottom:13px; border-left:2px solid #b5b5b5; height:28px; background:#f7f7f7; line-height:28px; padding-left:10px; float:left; font-size:14px; color:#666;}
.footer div.fuwu_list dl.fuwe_5 dd { width:110px; font-size:12px; height:24px; line-height:24px; float:left; }
.footer div.fuwu_list dl.fuwe_5 dd a { width:110px; font-size:12px; color:#696969; background:url(../images/bg/footer_bg1.gif) no-repeat left center; padding-left:12px; }
.footer div.fuwu_list dl.fuwe_5 dd a:hover { width:110px; font-size:12px; color:#f60; background:url(../images/bg/footer_bg2.gif) no-repeat left center; }

.footer dl.erweima_a { float:left; width:118px; color:#666; font-size:12px; text-align:center; background:#fdfdfd; padding:8px; margin:0 20px 0 43px; display:inline;}
.footer dl.erweima_a dt { float:left; width:112px; border-bottom:1px solid #fdfdfd; padding:3px; background:#fff; }
.footer dl.erweima_a dt img { float:left; width:112px; height:112px; }
.footer dl.erweima_a dd { float:left; width:118px; text-align:center; background:#fff; line-height:28px; height:28px; }
.footer div.dizhi_a { float:left; width:320px; float:right; font-size:12px;}
.footer div.dizhi_a div.dianhua_a { float:left; width:285px; float:right; font-size:16px; background:url(../images/bg/tel_hui.gif) no-repeat left center; padding-left:35px; height:35px; line-height:35px;}
.footer div.dizhi_a div.dianhua_a p span { font-size:18px; color:#da082f; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.footer div.dizhi_a div.zdizhi_a { float:left; width:320px; float:right; font-size:12px; color:#696969; padding-top:20px;}
.footer div.dizhi_a div.zdizhi_a p { line-height:28px;}
.footer div.dizhi_a div.zdizhi_a p span { font-size:14px; color:#da082f; font-family:Arial, Helvetica, sans-serif;}
.footer div.dizhi_a div.xinxi_a { float:left; width:320px; float:right; font-size:12px; color:#696969; margin-top:20px; background:#fdfdfd;}
.footer div.dizhi_a div.xinxi_a p { height:24px; line-height:24px; padding-left:10px;}









.clear { clear:both;}