/*---------------------------------------

	RESET, BODY

-----------------------------------------*/




#dload { margin: 0 auto 20px auto; display: block; width: 210px; height: 50px; text-indent: -9999px; }
#dload:link, #dload:visited { background: url(../img/dlb.png) 0 0; }
#dload:hover, #dload:active { background: url(../img/dlb.png) 0 -50px; }
/*---------------------------------------

	LEAN MODAL

-----------------------------------------*/

#lean_overlay {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


/*---------------------------------------

	EXAMPLES

-----------------------------------------*/

        #signup {width: 404px;padding-bottom: 2px;display:none;background: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);  
}

        #test {
     width: 600px;
padding: 30px; 
    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

#test p { color: #666; text-shadow: none; }

#signup-header { background: url(../images/hd-bg.png); padding: 10px 10px 10px 10px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }

#signup-header  h2 { color: #444; font-size: 18px; font-family: 宋体,Arial, Helvetica, sans-serif;font-weight: 500; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#signup-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }

#signup .txt-fld { position: relative; width: 364px; overflow-y:auto; padding: 10px 20px; text-align: right; float:left; z-index:22000; }
#signup .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }
.ct_heng { width:100%; float:left; margin-top:8px; height:30px; line-height:30px;}
#signup .txt-fld label { display: block; float: left; width: 90px;height:30px; line-height:30px;color: #222; font-size: 14px; text-align: left; }
#signup .txt-fld input {  width: 245px; padding-left:10px; height:30px; line-height:30px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; z-index:22000;}
#signup .txt-fld input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signup .txt-fld input.error_input { background: #FDE0E0; }
#signup .txt-fld input.goods_input {width: 101px; height:30px; line-height:30px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; padding-left:10px; margin:8px 8px 0 0; float:left;}
.ct_tdd { width:246px; float:right; border:1px dashed #ccc; margin-top:8px; padding-bottom:8px; padding-left:8px; }
.ct_heng span.ct_ann {float:right; background:#108FC6; color:#fff; display:block; width:55px; text-align:center; height:30px; line-height:30px; border-radius: 4px; }
#signup .txt-fld input.ct_zna {width: 15px; height:15px;  border:0; float:left; margin-top:8px; margin-right:8px;}
#signup .txt-fld span.ct_a_h { width:100px; float:left; height:30px; line-height:30px; text-align:left; }
#signup .ctn-fld { width: 760px; height:320px; overflow: hidden; padding: 12px 20px 12px 20px; }
#signup .ctn-fld label { display: block; float: left; width: 90px;height:30px; line-height:30px;color: #222; font-size: 14px; text-align: left; }

p.error { position: absolute; bottom: 48px; right: 20px; width: 262px; color: #FFF; font-size: 1.1em; padding-bottom: 5px; background: url(../img/error-arw.png) 20px bottom no-repeat; text-align: left; margin: 0; text-shadow: none; }
p.error span { display: inline-block; background: #D43636; padding: 6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  }
.txt-fld input:focus, .txt-fld textarea:focus { background-color: #FAF9DC; }
        
button {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;
  font-size: 1.4em;
  color: #FFF;
 padding: 7px 10px; z-index:20;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);}
        
.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(../images/modal_close.png); z-index: 2; }


/*---------------------------------------

	FOOTER

-----------------------------------------*/

#footer { position: relative; margin: 0 auto; width: 564px; overflow: hidden; padding-top: 30px; margin-bottom: 20px; text-align: center; }
#footer p { color: #91BDD5; font-size: 1em; }

#footer a:link, #footer a:visited { color: #91BDD5; text-decoration: none; }
#footer a:hover, #footer a:active { color: #FFF; text-decoration: none; }
/*---------------------------------------

	MISC

-----------------------------------------*/

img { border: none; }
a { outline: none; }



        #signup1 {

     width: 404px;
     padding-bottom: 2px;
height:580px;
    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}
        #signup2 {

     width: 404px;
     padding-bottom: 2px;
height:580px;
    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

        #test {
     width: 600px;
padding: 30px; 
    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

#test p { color: #666; text-shadow: none; }

#signup-header { background: url(../images/hd-bg.png); padding: 10px 10px 10px 10px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }

#signup-header  h2 { color: #444; font-size: 18px; font-family: 宋体,Arial, Helvetica, sans-serif;font-weight: 500; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#signup-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }

#signup1 .txt-fld { position: relative; width: 364px; padding: 10px 20px;  text-align: right;overflow:hidden; }
#signup1 .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }
#signup1 .txt-fld #typeUp{float:left;margin-left:20px;margin-top:15px;height:30px;}
#signup1 .txt-fld #addParpUpdate{overflow:hidden;}
#signup1 .txt-fld #addParpUpdate #typeParUp{float:left;margin-left:20px;margin-top:20px;width:100px;}
#signup1 .txt-fld label { display: block; float: left; width: 90px; padding-top: 8px; color: #222; font-size: 16px; text-align: left;  margin-top:10px;}
#signup1 .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; margin-top:10px;}
#signup1 .txt-fld input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signup1 .txt-fld input.error_input { background: #FDE0E0; }
#signup2 .txt-fld { position: relative; width: 364px; padding: 10px 20px;  text-align: right;overflow:hidden; }
#signup2 .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }
#signup2 .txt-fld #typeUp{float:left;margin-left:20px;margin-top:15px;height:30px;}
#signup2 .txt-fld #addParpUpdate{overflow:hidden;}
#signup2 .txt-fld #addParpUpdate #typeParUp{float:left;margin-left:20px;margin-top:20px;width:100px;}
#signup2 .txt-fld label { display: block; float: left; width: 90px; padding-top: 8px; color: #222; font-size: 16px; text-align: left;  margin-top:10px;}
#signup2 .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; margin-top:10px;}
#signup2 .txt-fld input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signup2 .txt-fld input.error_input { background: #FDE0E0; }
.select {padding:8px; background:transparent; width: 260px; font-size: 1.2em; border-radius: 4px;border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6;}



#signupau {width: 404px;padding-bottom: 2px;display:none;background: #FFF;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);}
#signupau .txt-fld { position: relative; width: 364px; padding: 3px 20px; border-bottom: 1px solid #EEE; text-align: right; }
#signupau .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }

#signupau .txt-fld label { display: block; float: left;  color: #222; font-size: 14px; text-align: left;  }
#signupau .txt-fld input { width: 45px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
#signupau .txt-fld input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signupau .txt-fld input.error_input { background: #FDE0E0; }



#signupupload {

         width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}
#signupupload .txt-fld { position: relative; width: 364px; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
#signupupload .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }

#signupupload .txt-fld label { display: block; float: left; width: 90px; padding-top: 8px; color: #222; font-size: 14px; text-align: left;  }
#signupupload .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
#signupupload .txt-fld input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signupupload .txt-fld input.error_input { background: #FDE0E0; }




        #signuppage {

     width: 404px;
     padding-bottom: 20px;
	 padding-left: 200px;
 text-align:center;

    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}
#signuppage .txt-fld { position: relative; width: 364px; padding: 10px 20px; border-bottom: 1px solid #EEE; text-align: right; }
#signuppage .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }

#signuppage .txt-fld label { display: block; float: left; width: 90px; padding-top: 8px; color: #222; font-size: 14px; text-align: left;  }
#signuppage .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
#signuppage .txt-fld input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signuppage .txt-fld input.error_input { background: #FDE0E0; }



img.img_small{float:left; margin-left:11px; margin-top:15px; width:18px; height:18px; }
.imgsrc{ width:100%; marign-top:2px; float:left;}
.imgsrc input.imgdizhi {width:50px; height:30px; border:1px solid #CCC; float:right;}

.brand_xiugai{margin-top:-90px;}
.brand_intro{float:left;}
.ad_xiugai{margin-top:-100px;}
.img_width{float:left;}

/* #signup .txt-fld div{float:left; width:365px; margin-top:20px;}*/
#signup .txt-fld input.good_input1{ width:40px; padding:4px; float:left; height:20px; margin-left:40px;}
#signup .txt-fld span.span1{float:left; width:20px; height:20px; font-size:14px;}
.goodstype_yes{float:left; width:120px;}
.goodstype_no{float:left; width:120px;}
#yes{ width:40px; padding:4px; float:left; height:20px; }
#no{ width:40px; padding:4px; float:left; height:20px; }
.goodstype_yes span.span1{float:left; width:40px; height:20px; font-size:14px;}
.goodstype_no span.span1{float:left; width:40px; height:20px; font-size:14px;}
#signup .txt-fld div.usergroup_mc{width:364px; margin:10px;}
#signup .txt-fld div.usergroup_mc span{width:120px; height:34px; line-height:34px; float:left; text-align:center; font-size:16px;}
#signup .txt-fld div.usergroup_mc input.good_input{width:185px; float:left;}
#signup .btn-fld button.usergroup_qd{float:left; width:90px; margin-left:50px;}
#signup1 .btn-fld button.usergroup_qd{float:left; width:90px; margin-left:50px;}



        #signupupload {

         width: 434px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}
#signupupload .txt-fld { position: relative; width: 370px; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
#signupupload .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }

#signupupload .txt-fld label { display: block; float: left; width: 105px; padding-top: 8px; color: #222; font-size: 14px; text-align: left;  }
#signupupload .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
#signupupload .txt-fld input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signupupload .txt-fld input.error_input { background: #FDE0E0; }
