/*---------------------------------------

	RESET, BODY

-----------------------------------------*/




#dload { margin: 0 auto 20px auto; display: block; width: 210px; height: 50px; text-indent: -9999px; }
#dload:link, #dload:visited { background: url(../img/dlb.png) 0 0; }
#dload:hover, #dload:active { background: url(../img/dlb.png) 0 -50px; }
/*---------------------------------------

	LEAN MODAL

-----------------------------------------*/

#lean_overlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


/*---------------------------------------

	EXAMPLES

-----------------------------------------*/

        #signup {

     width: 784px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

        #test {
     width: 600px;
padding: 30px; 
    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

#test p { color: #666; text-shadow: none; }

#signup-header { background: url(../images/hd-bg.png); padding: 10px 10px 10px 10px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }

#signup-header  h2 { color: #444; font-size: 18px; font-family: 宋体,Arial, Helvetica, sans-serif;font-weight: 500; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#signup-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }

#signup .txt-fld { padding: 5px 20px; border-bottom: 1px solid #EEE;}
#signup .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }

#signup .txt-fld label { display: block; float: left; width: 70px; padding-top: 8px; color: #222; font-size: 14px; text-align: left; height:50px; background:green;  }
#signup .txt-fld .label2 { display: block; width: 70px; padding-top: 8px; color: #222; font-size: 14px; text-align: left; padding-left:20px }
#signup .txt-fld .input2 { width: 244px; padding: 8px; float:left;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; padding-left:10px;}
#signup .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; padding-left:10px;}
#signup .txt-fld input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signup .txt-fld input.good_input1 { background: #DEF5E1 url(../images/good.png) 30px center no-repeat; }
#signup .txt-fld input.error_input { background: #FDE0E0; }
#signup .ct_tdd { float:left; background:red;}


#signup .txt-fld2{ overflow: hidden; padding: 12px 20px 12px 130px;  border-bottom: 1px solid #EEE;}
#signup .txt-fld2 label {  display: block; float: left; width: 200px;color: #222; font-size: 14px; text-align: left; }
#signup .txt-fld1 { position: relative; padding: 5px 140px; border-bottom: 1px solid #EEE;}
#signup .txt-fld1 label { display: block; float: left; width: 190px; padding-top: 8px; color: #222; font-size: 14px; text-align: left;  }
#signup .txt-fld1 input { text-align:center; width: 20px; padding: 8px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; padding-left:10px;}
#signup .txt-fld1 input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signup .txt-fld1 input.good_input1 { 36px center no-repeat; }
#signup .txt-fld1 input.error_input { background: #FDE0E0; }


#signup .txt-fld3 { position: relative; padding: 5px 100px; border-bottom: 1px solid #EEE;}
#signup .txt-fld3 label { display: block; float: left; width: 190px; padding-top: 8px; color: #222; font-size: 14px; text-align: left;  }
#signup .txt-fld3 input { text-align:center; width: 20px; padding: 8px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; padding-left:10px;}
#signup .txt-fld3 input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signup .txt-fld3 input.good_input1 { 36px center no-repeat; }
#signup .txt-fld3 input.error_input { background: #FDE0E0; }



p.error { position: absolute; bottom: 48px; right: 20px; width: 262px; color: #FFF; font-size: 1.1em; padding-bottom: 5px; background: url(../img/error-arw.png) 20px bottom no-repeat; text-align: left; margin: 0; text-shadow: none; }
p.error span { display: inline-block; background: #D43636; padding: 6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  }
.txt-fld input:focus, .txt-fld textarea:focus { background-color: #FAF9DC; }
        
button {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;
  font-size: 1.4em;
  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);}
        
.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(../images/modal_close.png); z-index: 2; }


/*---------------------------------------

	FOOTER

-----------------------------------------*/

#footer { position: relative; margin: 0 auto; width: 564px; overflow: hidden; padding-top: 30px; margin-bottom: 20px; text-align: center; }
#footer p { color: #91BDD5; font-size: 1em; }

#footer a:link, #footer a:visited { color: #91BDD5; text-decoration: none; }
#footer a:hover, #footer a:active { color: #FFF; text-decoration: none; }
/*---------------------------------------

	MISC

-----------------------------------------*/

img { border: none; }
a { outline: none; }



        #signup1 {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

        #test {
     width: 600px;
padding: 30px; 
    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

#test p { color: #666; text-shadow: none; }

#signup-header { background: url(../images/hd-bg.png); padding: 10px 10px 10px 10px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }

#signup-header  h2 { color: #444; font-size: 18px; font-family: 宋体,Arial, Helvetica, sans-serif;font-weight: 500; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#signup-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }

        #signup1 {

     width: 784px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}
#signup1 .txt-fld { position: relative; padding: 5px 20px; border-bottom: 1px solid #EEE;}
#signup1 .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }

#signup1 .txt-fld label { display: block; float: left; width: 70px; padding-top: 8px; color: #222; font-size: 14px; text-align: left;  }
#signup1 .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; padding-left:10px;}
#signup1 .txt-fld input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signup1 .txt-fld input.good_input1 { background: #DEF5E1 url(../images/good.png) 36px center no-repeat; }
#signup1 .txt-fld input.error_input { background: #FDE0E0; }
#signup1 .txt-fld2{ overflow: hidden; padding: 12px 20px 12px 130px;  border-bottom: 1px solid #EEE;}
#signup1 .txt-fld2 label {  display: block; float: left; width: 200px;color: #222; font-size: 14px; text-align: left; }
#signup1 .txt-fld1 { position: relative; padding: 8px 140px; border-bottom: 1px solid #EEE;}
#signup1 .txt-fld1 label { display: block; float: left; width: 190px; padding-top: 8px; color: #222; font-size: 14px; text-align: left;  }
#signup1 .txt-fld1 input { text-align:center; width: 20px; padding: 8px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; padding-left:10px;}
#signup1 .txt-fld1 input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signup1 .txt-fld1 input.good_input1 { 36px center no-repeat; }
#signup1 .txt-fld1 input.error_input { background: #FDE0E0; }
#signup1 .txt-fld .label2 { display: block; width: 70px; padding-top: 8px; color: #222; font-size: 14px; text-align: left; padding-left:20px }
#signup1 .txt-fld .input2 { width: 244px; padding: 8px; float:left;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; padding-left:10px;}

#signup1 .txt-fld3 { position: relative; padding: 5px 100px; border-bottom: 1px solid #EEE;}
#signup1 .txt-fld3 label { display: block; float: left; width: 190px; padding-top: 8px; color: #222; font-size: 14px; text-align: left;  }
#signup1 .txt-fld3 input { text-align:center; width: 20px; padding: 8px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; padding-left:10px;}
#signup1 .txt-fld3 input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signup1 .txt-fld3 input.good_input1 { 36px center no-repeat; }
#signup1 .txt-fld3 input.error_input { background: #FDE0E0; }

.select {padding:8px; background:transparent; width: 265px; font-size: 1.2em; border-radius: 4px;border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6;}
.select2 {padding:8px; background:transparent; width: 265px; font-size: 1.2em; border-radius: 4px;border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; float:left}


        #signupupload {

         width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}
#signupupload .txt-fld { position: relative; width: 364px; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
#signupupload .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }

#signupupload .txt-fld label { display: block; float: left; width: 90px; padding-top: 8px; color: #222; font-size: 14px; text-align: left;  }
#signupupload .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
#signupupload .txt-fld input.good_input { background: #DEF5E1 url(../images/good.png) 236px center no-repeat; }
#signupupload .txt-fld input.error_input { background: #FDE0E0; }