﻿body {
	font-size:12px;
	font-family: 宋体,Arial, Helvetica, sans-serif;
	margin:0 auto;
	text-align: left;
    line-height:23px;
	background:#ffffff;
	background-repeat:repeat-x;
	color: #333;
}
html{ overflow-x:hidden;}

img{border:0px}
*{margin:0; padding:0}
ul{list-style:none}

a:link{
	text-decoration:none;
	color: #333;
}
a:visited {
	text-decoration: none;
	color: #333;
}

a:hover{
	color:#cc0000;
	text-decoration:none;
}
.clear{ font: 0px/0px sans-serif; clear:both; display: block; height:0px; overflow:hidden }
.fenye{border:1px solid #cccccc;padding-left:10px;padding-right:10px;float:left;margin-left:5px;}

.mainc{width:1000px;margin:0 auto}
.mainc2{width:960px;margin:0 auto}
.mainc3{width:980px;margin:0 auto}

.tbk{width:100%;height:32px;line-height:32px;background:url(../images/tbk.jpg)}
.tbk .dlyy{float:left;color:#D3D3D3}
.tbk .dlyy span{color:#6499F9;font-weight:700;}
.tbk .xiaox{float:right;width:209px;height:32px;background:url(../images/xibk.jpg)}
.tbk .tel{color:#fff;font-weight:700;font-size:15px;float:right}
.tbk .xx{font-size:12px;font-family:微软雅黑;color:#fff;padding-left:16px}
.tbk .xx2{background:#ff6600;padding-left:3px;padding-right:3px;margin-left:4px}

.tbk2{width:100%;background:#1D51A7;height:110px;}
.tbk2cc{height:110px;width:1056px;background:url(../images/tbk2.jpg);margin:0 auto;position:relative; }
.km{width:117px;height:40px;left:480px;top:38px;background:url(../images/m.png);float:left;position:absolute;text-align:center;line-height:40px;color:#3CB7E4;font-family:微软雅黑;font-size:24px}
.jj{position:absolute;right:0px;top:50px}

.tbk3{width:100%;height:105px;background:url(../images/tbk3.jpg);}

.dhbk{width:100%;height:44px;line-height:44px;background:url(../images/dhbk.jpg)}
.dhcc{width:1000px;margin:0 auto;height:44px;line-height:44px;background:url(../images/dhcc.jpg)}
.dhcc li{float:left;width:150px;text-align:center;font-size:14px;}
.dhcc li a{color:#D5E1EF}
.dhcc li:hover{float:left;width:150px;text-align:center;font-size:14px;background:url(../images/dhhov.jpg)}
.dhcc li:hover a{color:#fff;font-weight:700;}
.dhcc .hoverss{float:left;width:150px;text-align:center;font-size:14px;background:url(../images/dhhov.jpg)}
.dhcc .hoverss a{color:#fff;font-weight:700;}

.gg{width:100%;height:25px;line-height:25px;background:url(../images/gg.jpg)}

.loginbk{width:1340px;background:url(../images/loginbk.jpg);position:absolute;left:50%;margin-left:-670px;min-height:500px}
.ilogo{text-align:center;margin-top:150px}
.lgk{width:703px;height:241px;background:url(../images/lgk.jpg);margin:0 auto;margin-top:40px}
.lgk .dll{float:left;width:340px;padding-top:30px;font-size:14px}
.lgk .drr{float:left;width:345px}
.lgk .wbks{width:217px;height:28px;line-height:28px;border:1px solid #dddddd}
.lgk .ggtz{padding-top:70px;padding-left:10px}
.lgk .ggtz span{color:#4D7ED0}
.lgk .ggtz{line-height:26px}

.copbk{width:465px;height:34px;background:url(../images/copbk.jpg);margin:0 auto;margin-top:60px;color:#93B3CC;line-height:34px;text-align:center}

.ssxg{width:960px;margin:0 auto;margin-top:5px;margin-bottom:20px}
.ssxg .gnc{float:left;}
.ssxg .ssk{float:right;padding-top:4px}
.ssxg .ssbk{width:344px;height:28px;line-height:28px;background:url(../images/ssbk.jpg)}
.ssxg .wbdd{width:240px;height:25px;line-height:25px;border:0px;background:transparent;color:#888}

.hui{background:#F3F2F2}

.endss{border-top:1px solid #BFD1E8;background:#F0F4FB;height:80px;text-align:center;padding-top:30px;line-height:27px}
.pages{margin-top:20px;padding-left:200px;margin-bottom:20px;}

.tleft{width:236px;float:left;background:url(../images/dbk.jpg);min-height:600px}
.tright{width:721px;float:right;}
.sj{width:228px;height:125px;background:url(../images/sj.png);margin-top:-20px;position:relative;z-index1000}
#sjf{position:absolute;top:66px;left:45px;font-size:28px;color:#fff;font-weight:700}
#sjm{position:absolute;top:66px;left:140px;font-size:28px;color:#fff;font-weight:700}

.photo{margin-top:10px;padding-left:32px;font-size:14px}
.photo img{width:140px;height:170px;border:1px solid #dddddd;padding:4px}
.tixing{margin-top:10px;padding-left:20px}

.tibit{width:721px;height:37px;line-height:37px;background:url(../images/tibit.jpg);margin-top:20px}
.tibit .bit{float:left;width:138px;height:37px;line-height:37px;font-weight:700;color:#fff;font-size:14px;text-align:center}
.tibit .bit2{font-weight:700;float:left;padding-left:20px}
.tibit .bit2 span{font-size:26px;font-weight:700;color:#ff6600;font-family:黑体}

.tis{margin-top:20px;font-weight:700;font-size:14px;font-family:微软雅黑}
.tis .tihao{float:left;width:20px}
.tis .tipp{float:left;width:680px}

.daan{margin-top:20px;padding-left:20px;padding-bottom:30px;margin-bottom:20px;border-bottom:1px solid #dddddd;font-size:14px}
.xxhao{margin-top:50px}
.xxhao li{float:left;margin-right:10px;width:60px;text-align:center;background:#C7D6E9;border:1px solid #A2BAD8;height:20px;line-height:20px;margin-bottom:10px;font-family:微软雅黑}
.xxhao a{font-size:14px;font-weight:700}
.xxhao li:hover{float:left;margin-right:10px;width:60px;text-align:center;background:#ff6600;border:1px solid #ff6600;height:20px;line-height:20px;margin-bottom:10px;font-family:微软雅黑}
.xxhao li:hover a{font-size:14px;font-weight:700;color:#fff}

.xxhao .hoverss{float:left;margin-right:10px;width:60px;text-align:center;background:#ff6600;border:1px solid #ff6600;height:20px;line-height:20px;margin-bottom:10px;font-family:微软雅黑}
.xxhao .hoverss a{font-size:14px;font-weight:700;color:#fff}

.jjddtb{position:relative; top:6px; right:19px; }

